.Rproj.user
.Rhistory
.RData
.Ruserdata
IESS*.csv
*JAF output*/
JAF output*.zip
Form for JAF indicator modifications *.xlsx
JAF_mini_catalogue_*.csv
~*.xlsx
JAF_INDICATORS * *.Rds
tmp.RData
/tmp
*.csv
*.tsv
*.zip
*.json
* - Copy.R
KSC file structure 28 3 2025.xlsx
Missing JAF indicators added Nov 2024.docx
PA11a.C2.1 and PA11a.C2.9.xlsx
*.old
